<section>
  <div class="map-section">
    <input id="pac-input" class="controls" type="text" placeholder="Find a Restaurant">
    <div id="map"></div>
  </div>

  <div class="r-info">
    <div class="button-group">
      <label>
        <input type="radio" name="button-group" <%= 'checked' if cookies[:filter] == 'all' %> >
        <span class="button-group-item" data-filter="all">All</span>
      </label>
      <label>
        <input type="radio" name="button-group" <%= 'checked' if cookies[:filter] == 'active' %> >
        <span class="button-group-item" data-filter="active">Untried</span>
      </label>
      <label>
        <input type="radio" name="button-group" <%= 'checked' if cookies[:filter] == 'tried' %> >
        <span class="button-group-item" data-filter="tried">Tried</span>
      </label>
    </div>
    <% if !@restaurants.nil? && @restaurants.length > 0 %>
      <div class="expander">
        <ul>
          <% @restaurants.each do |r| %>
            <li id="<%= r.place_id %>">
              <% if !r.users_restaurants.find_by(user: current_user).tried? %>
                <span class="checkbox"><%= link_to '<i class="fa fa-square-o fa-fw"></i>'.html_safe, { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></span>
                <a href="javascript:void(0)" class="expander-trigger expander-hidden restaurant" data-place-id="<%= r.place_id %>"></a>
                <div class="expander-content">
                  <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' }, class: "delete-r" %>
                </div>
              <% else %>
                <span class="checkbox"><%= link_to '<i class="fa fa-check-square-o fa-fw"></i>'.html_safe, { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></span>
                <a href="javascript:void(0)" class="expander-trigger expander-hidden tried_restaurant" data-place-id="<%= r.place_id %>"></a>
                <div class="expander-content">
                  <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' }, class: "delete-r" %>
                </div>
              <% end %>
            </li>
          <% end %>
         </ul>
         <div id="previous-page">
           <%= link_to "previous", root_path(page: params[:page].to_i-1) if params[:page].to_i - 1 > 0 %>
         </div>
         <div id="next-page">
           <%= link_to "next", root_path(page: params[:page].to_i+1) if @restaurants.length == 10 && @next_restaurants_count > 0 %>
         </div>
       </div>
    <% else %>
       <div class="no-expander">
         <div>Use the search box to find restaurants to add to your list</div>
         <div class="centertxt">- or -</div>
         <div>Use the <%= link_to "Discover", discover_path %> tool to quickly add restaurants nearby!</div>
       </div>
    <% end %>
  </div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initMap&libraries=places"
    async defer></script>
