<section>
  <input id="pac-input" class="controls" type="text" placeholder="Find a Restaurant">
  <div id="map"></div>
  <% if !@restaurants.nil? %>
    <table>
      <tbody>
        <% @restaurants.each do |r| %>
          <!-- <%= react_component "Restaurant",
                              { restaurant: r.place_id } %> -->
          <tr id="<%= r.place_id %>">
            <% if !r.users_restaurants.find_by(user: current_user).tried? %>
              <td><%= link_to '<i class="fa fa-square-o fa-fw"></i>'.html_safe, { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></td>
              <td class="restaurant" data-place-id="<%= r.place_id %>"></td>
              <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' } %></td>
            <% else %>
              <td><%= link_to '<i class="fa fa-check-square-o fa-fw"></i>'.html_safe, { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></td>
              <td class="tried_restaurant" data-place-id="<%= r.place_id %>"></td>
              <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initMap&libraries=places"
    async defer></script>
