<section>
  <div class="map-section">
    <input id="pac-input" class="controls" type="text" placeholder="Find a Restaurant">
    <div id="map"></div>
    <div class="btn-group-wrap">
      <div class="button-group">
        <label>
          <input type="radio" name="button-group" <%= 'checked' if cookies[:filter] == 'all' %> >
          <span class="button-group-item" data-filter="all">All</span>
        </label>
        <label>
          <input type="radio" name="button-group" <%= 'checked' if cookies[:filter] == 'active' %> >
          <span class="button-group-item" data-filter="active">Active</span>
        </label>
        <label>
          <input type="radio" name="button-group" <%= 'checked' if cookies[:filter] == 'tried' %> >
          <span class="button-group-item" data-filter="tried">Tried</span>
        </label>
      </div>
    </div>
  </div>

  <% if !@restaurants.nil? %>
  <div class="expander">
    <ul>
      <% @restaurants.each do |r| %>
        <li id="<%= r.place_id %>">
          <% if !r.users_restaurants.find_by(user: current_user).tried? %>
            <span class="checkbox"><%= link_to '<i class="fa fa-square-o fa-fw"></i>'.html_safe, { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></span>
            <a href="javascript:void(0)" class="expander-trigger expander-hidden restaurant" data-place-id="<%= r.place_id %>"></a>
            <div class="expander-content">
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' }, class: "delete-r" %>
            </div>
          <% else %>
            <span class="checkbox"><%= link_to '<i class="fa fa-check-square-o fa-fw"></i>'.html_safe, { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></span>
            <a href="javascript:void(0)" class="expander-trigger expander-hidden tried_restaurant" data-place-id="<%= r.place_id %>"></a>
            <div class="expander-content">
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' }, class: "delete-r" %>
            </div>
          <% end %>
        </li>
      <% end %>
     </ul>
   </div>
  <% end %>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initMap&libraries=places"
    async defer></script>
