<section>
  <input id="pac-input" class="controls" type="text" placeholder="Find a Restaurant">
  <div id="map"></div>
  <% if !@active_restaurants.nil? || !@tried_restaurants.nil?%>
    <table>
      <tbody>
        <% if !@active_restaurants.nil? %>
          <% @active_restaurants.each do |r| %>
            <%= react_component "Restaurant",
                                { restaurant: r.place_id } %>
            <tr>
              <td><%= link_to '☐', { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></td>
              <td class="restaurant" data-place-id="<%= r.place_id %>"></td>
              <td><%= link_to "✕",  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' } %></td>
            </tr>
          <% end %>
        <% end %>
        <% if !@tried_restaurants.nil? %>
          <% @tried_restaurants.each do |r| %>
            <tr>
              <td><%= link_to '☑︎', { :controller=>"restaurants", action: :update, :id => r.users_restaurants.find_by(user: current_user).id}, method: :patch %></td>
              <td class="tried_restaurant" data-place-id="<%= r.place_id %>"></td>
              <td><%= link_to "✕",  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initMap&libraries=places"
    async defer></script>
