<div id="splash-image">
  <%= render partial: "shared/flash_messages", flash: flash %>
  <div id="login-content">
    <%= image_tag "namewhite.png" %>
    <div class="login-links">
      <%= link_to '<i class="fa fa-facebook-square"></i> Sign in with Facebook'.html_safe, "/auth/facebook", class:"splash-link" %>
    </div>
    <br>
    <div class="login-form">
      <%= form_tag "/auth/identity/callback" do %>
        <div class="field">
          <%= label_tag :auth_key, "Email" %><br>
          <%= text_field_tag :auth_key %>
        </div>
        <div class="field">
          <%= label_tag :password %><br>
          <%= password_field_tag :password %>
        </div>
        <div class="actions"><%= submit_tag "Login", class:"login-btn" %></div>
      <% end %>
      <%= link_to "Create an Account", new_identity_path %>
    </div>
  </div>
</div>
