<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a class="logo" href="/">
        <%= image_tag "nnwhite.png" %>
        <%= image_tag "nnyellow.png" %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to '<i class="fa fa-random"></i> Roulette'.html_safe, roulette_path %></li>
        <li class="nav-link"><%= link_to '<i class="fa fa-search"></i> Discover'.html_safe, discover_path %></li>
        <li class="nav-link"><%= link_to '<i class="fa fa-cutlery"></i> About'.html_safe, about_path %></li>
        <li class="nav-link"><%= link_to logout_path, method: :delete do %><i class="fa fa-sign-out"></i>Log Out<% end %></li>
      </ul>
    </nav>
  </div>
</header>
